<div class="right">
    <div class="content-logo center-align">
        <img src="main/images/logo.png" />
        <h4>Quick Guide</h4>
    </div>

    <div class="divider"></div>

    <input id="search" type="search" placeholder="Search" />

    <!-- <script>
    $('input.autocomplete').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250'
      },
    });</script> -->

    <div class="divider"></div>

    <ul id="guide-menu-items"></ul>
</div>